/*html, body, h1, h2, h3, h4, ul, ol, li, p, a {
        padding: 0;
        border: 0;
        margin: 0;
      }*/
.navbar-brand img {
  height: 32px;
  width: 32px;
}

.interact-img {
  height: 32px;
  width: auto;
}
